{% extends 'base.html' %}
{% block title %} Home Page {% endblock title %}
{% block content %}
<div>

<h1>Hello welcome to To do list home page created by hanghtim limbu</h1>
    {% if user.is_authenticated %}
    <h2>Welcome {{user.username}}</h2>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <p>You need to login</p>
    {% endif %}
    <div>

<a href="{% url 'todolistView' %}">View list of tasks</a>
    <a href="{% url 'create' %}"> create new To do list </a>
    </div>
</div>
<!--{% include 'todolist_list.html' %}-->
{% endblock content %}